@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Playfair+Display:ital,wght@0,500;0,700;1,500&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

* {
  padding: 0;
  /* margin: 0; */
}

.body {
  padding: 0%;
  margin: 0%;
}

.container {
  /* padding: 0; */
  padding-top: 15px;
  /* margin: 0 8px 0 8px; */
}

.header h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0%;
}
.header .header-subtitle {
  display: flex;
  justify-content: space-between;
}

.header .header-subtitle img {
  align-self: flex-start;
  margin-top: 18px;
  margin-right: 12px;
}
.header .header-subtitle p {
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.image {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 45px;
}

.image img {
  width: 100%;
  max-height: 315px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'one . .'
    'two three four';
  grid-gap: 20px 7px;
}

.card .one {
  grid-area: one;
  /* background-color: green; */
}
.card .two {
  grid-area: two;
}
.card .three {
  grid-area: three;
}
.card .four {
  grid-area: four;
}

.card p {
  margin: 0;
}

.baking-time .title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.baking-time .time {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}

.ingredients h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.ingredient h4 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.ingredient .recipe {
  display: flex;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #333333;
}

.ingredient .recipe input {
  margin-right: 5px;
}

.ingredient .recipe span {
  font-weight: bold;
}

.ingredient .recipe span.different {
  font-style: italic;
  font-weight: bold;
}

.instructions h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.instructions .instruction {
  display: grid;
  grid-template-columns: 0.2fr 3.5fr;
}

.instructions .instruction .number {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  /* flex-grow: 3; */
  background: #f2994a;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions .instruction p:last-child {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.instructions .instruction span {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 15px;
}

@media only screen and (min-width: 720px) {
  .header .header-subtitle {
    width: 592px;
  }
  .header .header-subtitle p {
    font-size: 14px;
    line-height: 17px;
  }

  .image img {
    width: 100%;
    max-height: 400px;
  }
  .card {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      '. one  .'
      '. two .'
      '. three .'
      '. four .';
    grid-gap: 10px 0px;
    width: 189px;
    height: 300px;
    border-radius: 12px;
    /* box-shadow: -3px -8px 15px 2px #969696; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    grid-area: card;
    justify-self: flex-end;
  }

  .one,
  .two,
  .three,
  .four {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card p {
    margin-top: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
      'ingredients card'
      'instructions .';
  }

  .instructions {
    grid-area: instructions;
  }

  .ingredients {
    grid-area: ingredients;
  }
}

@media only screen and (min-width: 1020px) {
  .container {
    width: 850px;
    margin: auto;
  }

  .header h2 {
    font-size: 48px;
    line-height: 64px;
  }

  .header .header-subtitle p {
    font-size: 14px;
    line-height: 17px;
  }

  .ingredients h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .ingredients h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .ingredient .recipe {
    font-size: 16px;
  }
}
